html
{
	margin:0;
	padding:0;
	height:100%;
}

body
{
  padding-top: 50px;
  padding-bottom: 0px;
  font-family: 'Nunito', sans-serif;
  height:100%;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

#wrapper
{
	min-height:100%;
	position:relative;
}

#content {
	padding-bottom:120px;   /* Height of the footer element */
}
#footer {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
}
.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

header
{
	background: RGB(240,240,240);
}

footer
{
	background: RGB(0,0,0);
	color: RGB(255,255,255);
}

.darkBG
{
}

.name
{
	text-align: center;
}

.title
{
	text-align: center;
}

.icon-holder
{
	text-align: center;
	margin-top: 3em;
	margin-bottom: 3em;
	padding: 3% 3%;
	
}

.size1
{
height: 200px;
width: 200px;
}

.icon
{
	display: inline-block;
	width: 58px;
	height: 58px;
	margin: 0px 3px;
	border-radius: 42px;
}

.twitter
{
	background-image: url('assets/images/icons.png');
	background-position: -706px 440px;
}

.twitter:hover
{
	background-position: -705px 198px;
}

.facebook
{
	background-image: url('assets/images/icons.png');
	background-position: -32px 369px;
}

.facebook:hover
{
	background-position: -31px 127px;
}

.linkedin
{
	background-image: url('assets/images/icons.png');
	background-position: -777px 511px
}

.linkedin:hover
{
	background-position: -776px 269px;
}

.skype
{
	background-image: url('assets/images/icons.png');
	background-position: -483px 511px;
}

.skype:hover
{
	background-position: -482px 269px;
}